<p>mod2 works!</p>
<!-- <form [formGroup]="formreacitve1" novalidate>
 <input type="name" formControlName="name" placeholder="name">
 <input type="lastname" formControlName="lastName">
 <input type="patronymic" formControlName="patronymic">
 <input type="date" formControlName="date" placeholder="age" oninput="onChange($event)">
 <div formArrayName="emails">
  <input *ngFor="let email of emails.controls;let i = index" type="email" [formControlName]="i">
  <button (click)="addEmail()">increment</button>
 </div>

</form>
<code>{{formreacitve1.value | json}}</code>
<pre>{{formreacitve1.value | json}}</pre>
<p>{{formreacitve1.value | json}}</p> -->


